/* CSS declarations go here */

.currentPlayer {
  color: black;
  font-weight: bold;
}

.currentPlayer:after {
  content: ' <--';
}

.retiredPlayer {
  color: #808080;
}

.retiredPlayer:after {
  content: ' (lost)';
}
